.App {
  font-family: sans-serif;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");

.reload {
  position: absolute;
  font-family: "Roboto", sans-serif;
  top: 25px;
  right: 25px;
  color: #171717;
  background-color: #f3f3f3;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
}


.logo {
  width: 100%;
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center center;
  overflow-y: hidden;
}
.logo .icon path {
  stroke-width: 3px;
  stroke-dashoffset: -3000;
  stroke-dasharray: 3000;
}
.logo .icon path.isActive {
  animation-name: icon;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.logo .text {
  width: 100%;
  max-width: 900px;
  transition: 0.9s ease-out;
}
.logo .text text {
  stroke-width: 3px;
  stroke-dashoffset: -800;
  transition: 0.9s ease-out;
  stroke-dasharray: 800;
color:#fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logo .text text.isActive {
  animation-name: text;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes text {
  50% {
    fill: transparent;
  }
  75% {
    fill: transparent;
    stroke-dashoffset: 0;
    stroke-width: 3px;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #fff;
    stroke-width: 0px;
    animation: fadeOutLeft 5s 2s 1 forwards forwards;
  }
}

@media only screen and (max-width: 900px) {
  .logo {
    position: relative;
    left: 17px;
  }
}

@keyframes fadeOutLeft {
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
